<?php

$test = mysqli_connect('127.0.0.1', '{{ vault_mysql_db_user }}', '{{ vault_mysql_ecomuser_password }}');

if (!$test) {

die('MySQL Error: ' . mysqli_error());

}

echo 'Database connection is working properly!';

mysqli_close($testConnection);